@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    min-height: 100vh;
    /* removes tiling of background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: white;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

h2 {
    padding: 2rem;
    text-align: center;
    margin: 0;
}

button {
    background-color: #9b59b6;
    color: white;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 2rem;
}

button:hover {
    background-color: #8e44ad; /*colors from flatui colors  */
}

.quiz-header {
    padding: 5rem;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul li label {
    cursor: pointer; /* creates pointer when selecting radio button */
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0rem;
}

